@page
@model FluxoDeCaixa.API.Pages.LoginModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fluxo de caixa - Login</title>

    <link rel="stylesheet" href="~/css/login.css" />

    <!-- Font Awesome CDN link for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="title">@* <span>Login Form</span> *@ <img src="~/images/logo.png" alt="logo" style="width: 100%; padding: 24px"/></div>
        <form method="post" autocomplete="off">
            <div class="row">
                <i class="fas fa-user"></i>
                <input asp-for="Input.Email" type="text" placeholder="Email" required />
            </div>
            <div class="row">
                <i class="fas fa-lock"></i>
                <input asp-for="Input.Password" type="password" placeholder="Password" required />
            </div>
            @* <div class="pass"><a href="#">Forgot password?</a></div> *@
            <div class="row button">
                <input type="submit" value="ENTRAR" />
            </div>
            @* <div class="signup-link">Not a member? <a href="#">Signup now</a></div> *@
        </form>
    </div>
</body>
</html>