@inherits LayoutComponentBase

<div class="page">
    <div class="navbar">
        <button class="back-button" >Back</button>
        <h1>@Title</h1>
    </div>
   <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code{

    [Parameter]
    public string Title { get; set; } = "Title";

}